@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #2c3e50;
    border-radius: 15px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

 h3{
    background-color: #2c3e50;
    position: relative;
    left:434px;
    top:-12px;
    width: 425px;
    border-top-left-radius: 15px;
    border-top-right-radius: 14px;
    padding: 10px 20px;
    text-align: center;
    color:white;
    /* margin-bottom: 30px; */
}

.form-1{
    padding-top: 30px;
}
.form-1__option{
    margin-top: 10px;
    width: 400px;
    padding: 8px 10px;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    outline: none;
    margin-top: 7px;
}


.form-1__option:focus{
    border: 2px solid #3498db;
}

/* input[type="text"]:focus{
    border: 2px solid #3498db;
} */



.form-2__input{
    margin-top: 10px;
    width: 380px;
    padding: 8px 10px;
    border-radius: 5px;
    /* border: 2px solid; */
    outline:none;
    /* margin-bottom: 15px; */
    margin-top: 7px;
}

.form-2__input:focus{
    border:2px solid #3498db;
}

.form-3__input{
    margin-top: 10px;
    width: 380px;
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
    /* margin-bottom: 15px; */
    margin-top: 7px;
}
.form-3__input:focus{
    border:2px solid #3498db;
}

.form-4__input{
    outline: none;
    width: 380px;
    padding: 8px 10px;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    margin-top:7px;

}

.form-4__input:focus{
    border: 2px solid #3498db;
}

.form-5__input{
    outline: none;
    width: 380px;
    padding: 8px 10px;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    margin-top:7px;
    
}

.form-5__input:focus{
    border: 2px solid #3498db;
}

.form-6__input{
    outline: none;
    width: 380px;
    padding: 8px 10px;
    border-radius: 5px;
    /* margin-bottom: 15px; */
    margin-top:7px;

}

.form-6__input:focus{
    border: 2px solid #3498db;
}



.form__btn{
    padding: 10px 29px ;
    border-radius:5px ;
    background-color: #0779e4;
    border: 2px solid#0779e4;
    color: white;
    font-size: 16px;
    transition:background-color 0.5s;
}

.form__btn:hover{
    color: #0779e4;
    border: 2px solid #2c3e50;
    background-color: transparent;
}

