<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form_reg.css}">
<!--    <script src="https://use.fontawesome.com/321d0e426f.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/register.js}"></script>
</head>
<body>



    <div class="div-form">
<!--        <a href="/login/log" class="back"><i class="fas fa-arrow-square-left"></i></a>-->
        <center>
            <h2>PLEASE SIGN UP</h2>
<!--            <h3>Website in Progress.....</h3>-->
            <form action="#" th:action="@{/user-api/save}"  method="post" class="form">
<!--                <select id="role">-->
<!--                    <option value="student">Student</option>-->
<!--                    <option value="teacher">Teacher</option>-->
<!--                    <option value="admin">Admin</option>-->
<!--                </select><br>-->
                <input type="text" name="fname" id="fname"  placeholder="First Name" autocomplete="off" >
                <input type="text" name="lname" id="lname" placeholder="Last Name" autocomplete="off">
                <input type="text" name="phone" id="mobile" placeholder="Contact Number" autocomplete="off">
<!--                <select id="student_std">-->
<!--                    <option value="2">Class II </option>-->
<!--                    <option value="3">Class III </option>-->
<!--                    <option value="4">Class IV </option>-->
<!--                    <option value="5">Class V </option>-->
<!--                    <option value="6">Class VI </option>-->
<!--                    <option value="7">Class VII</option>-->
<!--                    <option value="8">Class VIII</option>-->
<!--                    <option value="9">Class IX</option>-->
<!--                    <option value="10">Class X</option>-->
<!--                    <option value="11">Class XI</option>-->
<!--                    <option value="12">Class XII</option>-->
<!--                </select>-->
                <input type="email" name="email" id="email" placeholder="Email" autocomplete="off">
                <input type="password" name="password" id="pass" placeholder="Password">
                <input type="date" name="dob" id="dob" placeholder="DOB">
                <input type="submit" value="Submit" id="submit" class="submit">

            </form>
        </center>

    </div>

</body>
</html>